body {

    background-image: url('img/food.jpg');
    background-size: 100%, 100%;
    background-attachment: fixed;
    background-repeat: repeat;

    font-family: Arial;

    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

  }
  
  * {

    box-sizing: border-box;

  }



.content{

    background-clip: content-box;
    padding: 10pt;
    background-color: #7C6144;
    display: inline-block;
    width: 50%;
    position: absolute;
    top: auto;
    left: 25%;

}

.logo{

    width: 250pt;
    height: 250pt;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.search{

    width: 100%;
    height: 100%;
    border: 3pt solid #000000;
    display: contents;
    align-items: center;

}

div.search input[type=text] {

    display: inline-block;
    margin-left: 35%;
    margin-top: 2%;
    align-content: center;
    border-radius: 25pt;
    height: 50pt;
    padding: 10pt;
    font-size: 17pt;
    border: 1pt solid grey;
    width: 30%;
    background: #f1f1f1;

  }

.distance{

    display: inline-block;
    margin-left: 35%;
    margin-top: 2%;
    align-content: center;
    border-radius: 25pt;
    height: 50pt;
    padding: 10pt;
    font-size: 17pt;
    border: 1pt solid grey;
    width: 30%;
    background: #f1f1f1;

}

  div.search button {

    display: inline-block;
    margin-left: 35%;
    margin-bottom: 2%;
    height: 50pt;
    border-radius: 25pt;
    width: 30%;
    padding: 10pt;
    background: #7DC2AF;
    color: white;
    font-size: 17pt;
    border: 1pt solid grey;
    cursor: pointer;

  }
  
  div.search button:hover {

    background: #40B3A2;

  }
  
  div.search::after {

    content: "";
    clear: both;
    display: table;

  }

  
  #hide{

      visibility: hidden;

  }

#Rest{

    display: inline-block;
    margin-top: 2%;
    align-content: center;
    border-radius: 25pt;
    height: 75pt;
    padding: 10pt;
    font-size: 17pt;
    border: 1pt solid grey;
    width: 100%;
    background: #f1f1f1;

}

#rName{

    float: left;
    display: inline-block;
    align-content: center;
    border-radius: 25pt;
    height: 50pt;
    padding: 10pt;
    font-size: 17pt;
    border: 1pt solid grey;
    background: #f1f1f1;

}

#rRating{

    float: left;
    display: inline-block;
    align-content: center;
    border-radius: 25pt;
    height: 50pt;
    padding: 10pt;
    font-size: 17pt;
    border: 1pt solid grey;
    background: #f1f1f1;

}

#rPrice{

    float: left;
    display: inline-block;
    align-content: center;
    border-radius: 25pt;
    height: 50pt;
    padding: 10pt;
    font-size: 17pt;
    border: 1pt solid grey;
    background: #f1f1f1;
    width: 20%;

}

#rDist{

    float: left;
    display: inline-block;
    align-content: center;
    border-radius: 25pt;
    height: 50pt;
    padding: 10pt;
    font-size: 17pt;
    border: 1pt solid grey;
    background: #f1f1f1;

}

#rimg {
    width: 20%;
    height: 100%;
}







  /* Use a media query to add a break point at 800px: */
@media screen and (max-width: 1250pt) {

    .search {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */

    }

    .logo{

    width:125pt;
    height:125pt;
    display: block;
    margin-left: auto;
    margin-right: auto;

    }


    div.search input[type=text] {

        display: inline-block;
        margin-left: 25%;
        align-content: center;
        border-radius: 25pt;
        height: 50pt;
        padding: 10pt;
        font-size: 17pt;
        border: 1pt solid grey;
        width: 50%;
        background: #f1f1f1;

      }

      .distance{

        display: inline-block;
        margin-left: 25%;
        align-content: center;
        border-radius: 25pt;
        height: 50pt;
        padding: 10pt;
        font-size: 17pt;
        border: 1pt solid grey;
        width: 50%;
        background: #f1f1f1;

    }

      div.search button {

        display: inline-block;
        margin-left: 25%;
        margin-bottom: 2%;
        height: 50pt;
        border-radius: 25pt;
        width: 50%;
        padding: 10pt;
        background: #7DC2AF;
        color: white;
        font-size: 17pt;
        border: 1pt solid grey;
        cursor: pointer;

      }

  }